# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg
*.whl

# Virtual environment
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
